.heading-section {
    padding: 50px 0px;
}


.btn-space {
    padding: 100px 0px 0px 0px;
}

.food-section {
    padding: 80px 0px;
}

.city-section {
    font-size: 14px;
}

.name-section {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.chef-section {
    padding: 100px 0px;
}

.info-section {
    padding: 20px 0px;
    font-size: 12px;
}

.info2-section {
    font-size: 12px;
}

.review-section {
    padding: 100px;
}

.review1-section {
    font-size: 10px;
}

.review2-section {
    padding: 0px 0px 0px 20px;
}

.image2-section {
    padding: 0px 30px 0px 0px;
}

.privacy-section {
    padding: 0px 10px 0px 0px
}

.terms-section {
    padding: 0px 0px 70px opx
}

.fab-fa-facebook-square {
    font-size: 20px;
}